html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #000; /* optional, to match your game background */
  color: white;
  font-family: Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-title {
  font-size: 48px;
  margin-bottom: 30px;
}

.games-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 950px) {
  .games-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;

  }
}

.game-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
}

.game-title {
  margin-bottom: 10px;
  font-size: 24px;
}

.canvas-wrapper {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.canvas-content {
  width: 450px;   /* scale down to fit parent */
  height: 450px;  /* keep aspect ratio */
  display: block;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}


